
h1 {
  font-size: 53px;
  margin: 20px;
}
p {
  font-size: 22px;
  margin: 20px;
}

.container-2 {
  display: flex;
  height: 200px;
  border: solid;
  justify-content: center;
  align-items: center;
  border-width: 0px 3px 3px 3px;
 
}

/* Hero content responsive */

@media screen and (max-width: 600px) {


  h1 {
    font-size: 37px;
  }
 p {
    font-size: 21px;
  }
  .container-2 {
    display: flex;
    border: 3px solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-width: 0px 3px 3px 3px;
  }
}





